body{
    	font-family: 'Belanosima', sans-serif;
    	margin: 0px;
    	padding: 0px;
    	background: url('img/bg.jpg');
        background-size: 1300px;
    }
    .left{
    	font-weight: bold;
    	margin: 0px 50px;
    	position: absolute;
    	top: 20px;
    	left : 34px;
    	display: inline-block;
/*    	border: 2px solid darkred;*/
    }
    .left div{
    	text-align: center;
    }
    .left img{
    	width: 150px;
    }
    .mid{
    	display: block;
    	margin: 30px auto;
    	width: 50%;
/*    	border: 2px solid darkred;*/
    }
    .right{
    	margin: 14px auto;
        display: inline-block;
/*    	border: 2px solid darkred;*/
    	position: absolute;
    	top: 25px;
    	right: 34px;
    }
    .navbar{
    	display: inline-block;
    }
    .navbar li{
    	display: inline-block;
    	font-size: 18px;
    }
    .navbar li a{
    	color: red;
    	text-decoration: none;
    	padding: 34px 23px;
    }
    .navbar li a:hover, 
    .navbar li a:active{
    	text-decoration: underline;
    	color: purple;
    }
    .btn{
    	font-family: 'Belanosima', sans-serif;
    	margin: 0px 9px;
    	background-color: black;
    	color: whitesmoke;
    	padding: 4px 14px;
    	border: 2px solid grey;
       	border-radius: 10px;
    	font-size: 15px;
    	cursor: pointer;
    }
    .btn:hover{
    	background-color: red;
    }
    .container{
    	border: 2px solid black;
        margin: 100px 100px;
        padding: 30px;
        width: 30%;
        border-radius: 10px;
        font-size: 10px;
    }
    .form-group input{
        font-family: 'Belanosima', sans-serif;
        text-align: center;
        display: block;
        width: 60%;
        padding: 6px;
        border: 2px solid black;
        border-radius: 8px;
        margin: 3px auto;
    }
    .container button{
        display: block;
        width: 65%;
        margin: 20px auto;
    }